
h1 {
    font-size: clamp(2.25rem, 4vw, 3rem);
    margin-bottom: 1rem;
    text-align: center;
}


table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: rgba(191, 180, 140, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


th {
    background-color: rgb(193,176,99); 
    color: #fff; 
    text-align: center;
    padding: 10px;
}


tr:nth-child(even) {
    background-color: rgb(188,222,191);
}
tr:nth-child(2n+1) {
    background-color: rgb(249,230,149);
}


td, th {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}


    td:empty::before {
        content: "Empty"; 
        color: #e74c3c; 
        background-color: white;
        display: block;
    }
