@font-face {
    font-family: 'PrimaryFont';
    src: url('/static/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'AlternativeFont';
    src: url('/static/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'FontFamily';
    src: url('/static/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontFamily';
    src: url('/static/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FontFamily';
    src: url('/static/fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: 'PrimaryFont', Arial, sans-serif;
    font-size: 1.25rem;
    background: rgb(255, 248, 225);
    line-height: 1.4;
    height: 100vh;
}

/* Добавьте другие начертания (например, курсив) при необходимости */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 750px;
}

main {
    flex: 1 1 auto;
}

.whiteImage {
    background-image: url('/static/items/whiteItem.png');
    background-size: cover;
    width: clamp(300px, 40vw, 550px);
    height: clamp(300px, 40vw, 550px);
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    will-change: transform;
    animation: rotateWhite 50s linear infinite;
}

.greenImage {
    background-image: url('/static/items/greenItem.png');
    background-size: cover;
    width: clamp(300px, 40vw, 550px);
    height: clamp(300px, 40vw, 550px);
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    will-change: transform;
    animation: rotateGreen 60s linear infinite;
}

.blackYellowImage {
    background-image: url('/static/items/blackYellowItem.png');
    background-size: cover;
    width: clamp(300px, 40vw, 550px);
    height: clamp(300px, 40vw, 550px);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    pointer-events: none;
    will-change: transform;
    animation: rotateBlackYellow 100s linear infinite;
}

.yellowImage {
    background-image: url('/static/items/yellowItem.png');
    background-size: cover;
    width: clamp(300px, 40vw, 550px);
    height: clamp(300px, 40vw, 550px);
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    pointer-events: none;
    will-change: transform;
    animation: rotateYellow 80s linear infinite;
}

.box-items-1 {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 50vh;
    margin: 0vh 0vh -50vh 0vh;
    z-index: -1;
}

.box-items-2 {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 50vh;
    margin: -50vh 0vh 0vh 0vh;
    z-index: -1;
}

.loader {
    background-color: rgb(255, 248, 225);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

    .loader.animating {
        animation: fadeOutBackground 1s ease-in forwards;
        pointer-events: none;
    }

@keyframes fadeOutBackground {
    0% {
        background: rgb(255, 248, 225);
    }

    100% {
        background-color: transparent;
    }
}

@keyframes rotateYellow {
    0% {
        transform: translate(-50%, 50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, 50%) rotate(360deg);
    }
}

@keyframes rotateBlackYellow {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotateGreen {
    0% {
        transform: translate(50%, 50%) rotate(0deg);
    }

    100% {
        transform: translate(50%, 50%) rotate(360deg);
    }
}

@keyframes rotateWhite {
    0% {
        transform: translate(50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(50%, -50%) rotate(360deg);
    }
}
